<!DOCTYPE html>
<html lang="{{ site.lang | default: 'es' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>

        {% if page.path contains 'newsletters/' %}
        <nav class="side-nav">
          <h2>Ediciones</h2>
          {% assign editions = site.pages | where_exp: 'item', "item.path contains 'newsletters/'" | sort: 'name' | reverse %}
          <ul>
            {% for item in editions %}
            <li{% if item.url == page.url %} class="active"{% endif %}><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        {% endif %}
      </header>
      <section>
        {{ content }}
      </section>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
